@font-face {
    font-family: 'BrownVN';
    src: url('../fonts/brownVN/BrownVN-Light.eot');
    src: url('../fonts/brownVN/BrownVN-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/brownVN/BrownVN-Light.woff2') format('woff2'),
        url('../fonts/brownVN/BrownVN-Light.woff') format('woff'),
        url('../fonts/brownVN/BrownVN-Light.ttf') format('truetype'),
        url('../fonts/brownVN/BrownVN-Light.svg#BrownVN-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BrownVN';
    src: url('../fonts/brownVN/BrownVN.eot');
    src: url('../fonts/brownVN/BrownVN.eot?#iefix') format('embedded-opentype'),
        url('../fonts/brownVN/BrownVN.woff2') format('woff2'),
        url('../fonts/brownVN/BrownVN.woff') format('woff'),
        url('../fonts/brownVN/BrownVN.ttf') format('truetype'),
        url('../fonts/brownVN/BrownVN.svg#BrownVN') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BrownVN';
    src: url('../fonts/brownVN/BrownVN-Bold.eot');
    src: url('../fonts/brownVN/BrownVN-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/brownVN/BrownVN-Bold.woff2') format('woff2'),
        url('../fonts/brownVN/BrownVN-Bold.woff') format('woff'),
        url('../fonts/brownVN/BrownVN-Bold.ttf') format('truetype'),
        url('../fonts/brownVN/BrownVN-Bold.svg#BrownVN-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'BrownVN';
    src: url('../fonts/brownVN/BrownVN-LightItalic.eot');
    src: url('../fonts/brownVN/BrownVN-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/brownVN/BrownVN-LightItalic.woff2') format('woff2'),
        url('../fonts/brownVN/BrownVN-LightItalic.woff') format('woff'),
        url('../fonts/brownVN/BrownVN-LightItalic.ttf') format('truetype'),
        url('../fonts/brownVN/BrownVN-LightItalic.svg#BrownVN-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'BrownVN';
    src: url('../fonts/brownVN/BrownVN-RegularItalic.eot');
    src: url('../fonts/brownVN/BrownVN-RegularItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/brownVN/BrownVN-RegularItalic.woff2') format('woff2'),
        url('../fonts/brownVN/BrownVN-RegularItalic.woff') format('woff'),
        url('../fonts/brownVN/BrownVN-RegularItalic.ttf') format('truetype'),
        url('../fonts/brownVN/BrownVN-RegularItalic.svg#BrownVN-RegularItalic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'BrownVN';
    src: url('../fonts/brownVN/BrownVN-ThinItalic.eot');
    src: url('../fonts/brownVN/BrownVN-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/brownVN/BrownVN-ThinItalic.woff2') format('woff2'),
        url('../fonts/brownVN/BrownVN-ThinItalic.woff') format('woff'),
        url('../fonts/brownVN/BrownVN-ThinItalic.ttf') format('truetype'),
        url('../fonts/brownVN/BrownVN-ThinItalic.svg#BrownVN-ThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

