@font-face {
    font-family: 'Roboto Flex';
    src: url('../fonts/roboto-flex/RobotoFlex-Regular.eot');
    src: url('../fonts/roboto-flex/RobotoFlex-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/roboto-flex/RobotoFlex-Regular.woff2') format('woff2'),
        url('../fonts/roboto-flex/RobotoFlex-Regular.woff') format('woff'),
        url('../fonts/roboto-flex/RobotoFlex-Regular.ttf') format('truetype'),
        url('../fonts/roboto-flex/RobotoFlex-Regular.svg#RobotoFlex-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

